<section id="skills">
  <div class="section-header fade-up">
    <div class="section-tag">Habilidades técnicas</div>
    <h2 class="section-title">Mi stack<br>tecnológico</h2>
    <div class="section-line"></div>
  </div>
  <div class="skills-layout">

    <div class="skill-category fade-up">
      <div class="skill-cat-title">Frontend</div>
      <div class="skill-items">
        <span class="skill-pill">
          <img class="tech-logo" src="https://res.cloudinary.com/dck0w8fio/image/upload/v1773105682/angular_plgtdl.png" alt="Angular"/>
          Angular
        </span>
        <span class="skill-pill">
          <img class="tech-logo" src="https://res.cloudinary.com/dteoaqslb/image/upload/v1774386002/ZaboraCloudy/tp5ovjaoxwtauv5zoj48.png" alt="JavaScript"/>
          TypeScript
        </span>
        <span class="skill-pill">
          <img class="tech-logo" src="https://res.cloudinary.com/dck0w8fio/image/upload/v1773105195/javascript_gypelf.png" alt="JavaScript"/>
          JavaScript
        </span>
        <span class="skill-pill">
          <img class="tech-logo" src="https://res.cloudinary.com/dck0w8fio/image/upload/v1773105194/html5_fjwqiq.png" alt="HTML5"/>
          HTML5
        </span>
        <span class="skill-pill">
          <img class="tech-logo" src="https://res.cloudinary.com/dck0w8fio/image/upload/v1773105194/CSS3_iaxfzm.png" alt="CSS3"/>
          CSS3
        </span>
        <span class="skill-pill">
          <img class="tech-logo" src="https://res.cloudinary.com/dck0w8fio/image/upload/v1773106030/responsive_fally7.png" alt="Responsive"/>
          Responsive Design
        </span>
      </div>
    </div>

    <div class="skill-category fade-up">
      <div class="skill-cat-title">Backend</div>
      <div class="skill-items">
        <span class="skill-pill">
          <img class="tech-logo" src="https://res.cloudinary.com/dck0w8fio/image/upload/v1773105194/java_vtmvsr.png" alt="Java"/>
          Java (Spring Boot)
        </span>
        <span class="skill-pill">
          <img class="tech-logo" src="https://res.cloudinary.com/dck0w8fio/image/upload/v1773105196/nodejs_g4mgfj.png" alt="Node.js"/>
          Node.js / Express
        </span>
        <span class="skill-pill">
          <img class="tech-logo" src="https://res.cloudinary.com/dck0w8fio/image/upload/v1773105196/api_ow3qf0.png" alt="REST APIs"/>
          REST APIs
        </span>
        <span class="skill-pill">
          <img class="tech-logo" src="https://res.cloudinary.com/dck0w8fio/image/upload/v1773105195/sql_klmdul.png" alt="SQL"/>
           SQL
        </span>
      </div>
    </div>

    <div class="skill-category fade-up">
      <div class="skill-cat-title">Análisis &amp; Datos</div>
      <div class="skill-items">
        <span class="skill-pill">
          <img class="tech-logo" src="https://res.cloudinary.com/dck0w8fio/image/upload/v1773105195/mysql_atoaqz.png" alt="MySQL"/>
          MySQL
        </span>
        <span class="skill-pill">
          <img class="tech-logo" src="https://res.cloudinary.com/dck0w8fio/image/upload/v1773106053/modelado_ekdmni.jpg" alt="Modelado"/>
          Modelado de Datos
        </span>

      </div>
    </div>

    <div class="skill-category fade-up">
      <div class="skill-cat-title">Herramientas</div>
      <div class="skill-items">
        <span class="skill-pill">
          <img class="tech-logo" src="https://res.cloudinary.com/dck0w8fio/image/upload/v1773105195/GitHub_ginh2p.png" alt="GitHub"/>
          Git &amp; GitHub
        </span>
        <span class="skill-pill">
          <img class="tech-logo" src="https://res.cloudinary.com/dck0w8fio/image/upload/v1773105195/postman_twaxw5.png" alt="Postman"/>
          Postman
        </span>
        <span class="skill-pill">
          <img class="tech-logo" src="https://res.cloudinary.com/dck0w8fio/image/upload/v1773105194/Figma_orrksl.png" alt="Figma"/>
          Figma
        </span>
        <span class="skill-pill">
          <img class="tech-logo" src="https://res.cloudinary.com/dck0w8fio/image/upload/v1773105196/scrum_w0povj.png" alt="Scrum"/>
          Metodologías Ágiles
        </span>
      </div>
    </div>

  </div>
</section>